<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">Fresh Vegies</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% items.forEach(function(item) { %>
        <div class="w-full md:w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/<%= item.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= item.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= item.size %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= item.price %></span>
<<<<<<< HEAD
                    <% if(item.quantity!=0){%>
=======
>>>>>>> 4e47fc42af0064ec70f9afcc9192cdb861526f6b
                    <button data-pizza="<%= JSON.stringify(item) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
<<<<<<< HEAD
                    <%}else{%>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span class="ml-4">Out of Stock</span>
                        </button>
                    <%}%>
=======
>>>>>>> 4e47fc42af0064ec70f9afcc9192cdb861526f6b
                </div>
            </div>
        </div>
        <% }) %>

    </div>
</section>